[Desktop Entry]
Name=Nepomuk Backup
Name[bs]=Rezerva Nepomuka
Name[ca]=Còpia de seguretat del Nepomuk
Name[ca@valencia]=Còpia de seguretat del Nepomuk
Name[cs]=Záloha Nepomuku
Name[da]=Nepomuk backup
Name[de]=Nepomuk-Sicherung
Name[el]=Nepomuk υποστηρικτική αποθήκευση
Name[en_GB]=Nepomuk Backup
Name[es]=Copia de respaldo de Nepomuk
Name[et]=Nepomuki varundamine
Name[eu]=Nepomuk babeskopia
Name[fi]=Nepomuk-varmuuskopiointi
Name[fr]=Sauvegarde de Nepomuk
Name[ga]=Cúltaca Nepomuk
Name[gl]=Copia de seguranza de Nepomuk
Name[he]=גיבוי של Nepomuk
Name[hu]=Nepomuk mentés
Name[ia]=Retrocopia de Nepomuk
Name[it]=Copia di sicurezza di Nepomuk
Name[kk]=Nepomuk сақтық көшірмелеу
Name[km]=បម្រុងទុក Nepomuk
Name[ko]=Nepomuk 백업
Name[lt]=Nepomuk atsarginė kopija
Name[lv]=Nepomuk dublējums
Name[mr]=नेपोमुक बॅकअप
Name[nb]=Nepomuk sikringskopiering
Name[nds]=Nepomuk-Sekerheitkopie
Name[nl]=Nepomuk reservekopie maken
Name[pa]=ਨਿਪੋਮੁਕ ਬੈਕਅੱਪ
Name[pl]=Kopia zapasowa Nepomuka
Name[pt]=Salvaguarda do Nepomuk
Name[pt_BR]=Cópia de segurança do Nepomuk
Name[ro]=Copie de siguranță Nepomuk
Name[ru]=Резервное копирование Nepomuk
Name[se]=Nepomuk-liigemáŋggus
Name[sk]=Záloha Nepomuk
Name[sl]=Varnostne kopije Nepomuka
Name[sr]=Непомукова резерва
Name[sr@ijekavian]=Непомукова резерва
Name[sr@ijekavianlatin]=Nepomukova rezerva
Name[sr@latin]=Nepomukova rezerva
Name[sv]=Nepomuk säkerhetskopiering
Name[tr]=Nepomuk Yedekleme
Name[ug]=Nepomuk زاپاسلاش
Name[uk]=Резервні копії даних Nepomuk
Name[x-test]=xxNepomuk Backupxx
Name[zh_CN]=Nepomuk 备份
Name[zh_TW]=Nepomuk 備份
Exec=nepomukbackup
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Utility;Archiving;
