[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukqueryservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukQueryService
Name[ca]=NepomukQueryService
Name[cs]=Dotazovací služba Nepomuku
Name[da]=NepomukQueryService
Name[de]=Nepomuk-Abfragedienst
Name[el]=NepomukQueryService
Name[es]=NepomukQueryService
Name[et]=Nepomuki päringuteenus
Name[eu]=NepomukQueryService
Name[fi]=NepomukQueryService
Name[fr]=NepomukQueryService
Name[ga]=NepomukQueryService
Name[gl]=NepomukQueryService
Name[he]=NepomukQueryService
Name[hu]=Nepomuk-lekérdezés
Name[ia]=NepomukQueryService
Name[it]=Servizio di interrogazioni di Nepomuk
Name[kk]=NepomukQueryService
Name[km]=NepomukQueryService
Name[lv]=NepomukQueryService
Name[nb]=NepomukQueryService
Name[nds]=Nepomuk-Affraagdeenst
Name[nl]=NepomukQueryService
Name[pa]=ਨਿਪੋਮੁਕਕਿਊਰੀਸਰਵਿਸ
Name[pl]=Usługa wyszukiwania Nepomuk
Name[pt]=NepomukQueryService
Name[pt_BR]=Serviço de pesquisas do Nepomuk
Name[ro]=NepomukQueryService
Name[ru]=NepomukQueryService
Name[se]=Nepomuk-jearranbálvalus
Name[sk]=Dotazovacia služba Nepomuku
Name[sl]=Nepomukova poizvedovalna storitev
Name[sr]=Непомуков сервис упита
Name[sr@ijekavian]=Непомуков сервис упита
Name[sr@ijekavianlatin]=Nepomukov servis upita
Name[sr@latin]=Nepomukov servis upita
Name[sv]=Nepomuk-frågetjänst
Name[tr]=Nepomuk Sorgulama Servisi
Name[ug]=Nepomuk سۈرۈشتۈرۈش مۇلازىمىتى
Name[uk]=NepomukQueryService
Name[x-test]=xxNepomukQueryServicexx
Name[zh_CN]=Nepomuk 查询服务
Name[zh_TW]=Nepomuk 查詢服務
Comment=The Nepomuk Query Service provides an interface for persistent query folders
Comment[ca]=El servei de consultes del Nepomuk proporciona una interfície per a carpetes persistents de consultes
Comment[cs]=Dotazovací služba Nepomuku poskytuje rozhraní pro složky trvalých dotazů
Comment[da]=Nepomuk forespørgselstjeneste giver en grænseflade til ensartet forespørgsel af mapper
Comment[de]=Der Nepomuk-Abfragedienst stellt eine Schnittstelle für persistente Abfrage-Ordner bereit.
Comment[el]=Η υπηρεσία Nepomuk για ερωτήσεις παρέχει ένα περιβάλλον για μόνιμους φακέλους ερωτήσεων
Comment[es]=El servicio de consultas de Nepomuk proporciona una interfaz para carpetas de consultas persistentes
Comment[et]=Nepomuki päringuteenus tagab püsivate päringukataloogide liidese
Comment[eu]=Nepomuk itaun zerbitzuak itaun iraunkorren karpetentzako interfazea hornitzen du
Comment[fi]=Nepomuk-kyselypalvelu tarjoaa rajapinnan pysyville kyselykansioille
Comment[fr]=Le service de recherche de Nepomuk fournit une interface pour les dossiers de recherche persistants
Comment[ga]=Soláthraíonn Seirbhís Iarratais Nepomuk comhéadan le fillteáin sheasmhacha iarratais
Comment[gl]=O servizo de procura de Nepomuk fornece unha interface para cartafoles persistentes de procura
Comment[he]=שירות השאילתות של Nepomuk מספק ממשק יציב עבור שאילתות של תיקיות
Comment[hu]=A Nepomuk lekérdező szolgáltatás keresőmappákhoz nyújt felületet
Comment[ia]=Le Nepomuk Query Service forni un interface pro dossieres de demanda persistente
Comment[it]=Il servizio di interrogazione di Nepomuk fornisce un'interfaccia per cartelle di interrogazione persistenti
Comment[kk]=Nepomuk сұраныс қызметі тұрақты сұраныс қапшықтарына интерфейсті қамтамасыз етеді
Comment[km]=សេវា​សំណួរ Nepomuk ផ្ដល់​ចំណុច​ប្រទាក់​​សម្រាប់​ថត​សំណួរ​ដែល​​មាន​ជា​បន្ត
Comment[lv]=Nepomuk vaicājumu serviss nodrošina saskarni fiksētām vaicājumu mapēm
Comment[nb]=Nepomuk spørretjeneste gir et grensesnitt til varige spørremapper
Comment[nds]=De Nepomuk-Affraagdeenst stellt en Koppelsteed to duerhaftig Affraagornern praat
Comment[nl]=De Nepomuk Query Service biedt een interface voor het persistent doorzoeken van mappen
Comment[pa]=ਨਿਪੋਮੁਕ ਕਿਊਰੀ ਸਰਵਿਸ ਲਗਾਤਾਰ ਕਿਊਰੀ ਫੋਲਡਰ ਲਈ ਇੱਕ ਇੰਟਰਫੇਸ ਦਿੰਦੀ ਹੈ
Comment[pl]=Usługa wyszukiwania Nepomuk udostępnia interfejs do stałych folderów wyszukiwania
Comment[pt]=O Serviço de Pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[pt_BR]=O serviço de pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[ro]=Serviciul de interogare Nepomuk oferă o interfață pentru dosarele de interogare persistente
Comment[ru]=Служба запросов Nepomuk предоставляет интерфейс к сохранённым папкам поиска
Comment[se]=Nepomuk-jearranbálvalus fállá lakta bistevaš jearaldatmáhpaide. 
Comment[sk]=Dotazovacia služba Nepomuku poskytuje rozhranie pre priečinky trvalých dotazov
Comment[sl]=Nepomukova poizvedovalna storitev ponuja vmesnik za obstojne poizvedovalne mape
Comment[sr]=Непомуков сервис упита пружа сучеље за постојане упитне фасцикле
Comment[sr@ijekavian]=Непомуков сервис упита пружа сучеље за постојане упитне фасцикле
Comment[sr@ijekavianlatin]=Nepomukov servis upita pruža sučelje za postojane upitne fascikle
Comment[sr@latin]=Nepomukov servis upita pruža sučelje za postojane upitne fascikle
Comment[sv]=Nepomuks frågetjänst tillhandahåller ett gränssnitt för bestående frågekataloger
Comment[tr]=Nepomuk Sorgulama Servisi kalıcı sorgu dizinleri için bir arayüz sağlar
Comment[ug]=Nepomuk سۈرۈشتۈرۈش مۇلازىمىتى بىر خىل ئىزچىل بولغان ھۆججەت سۈرۈشتۈرۈش ئېغىزى بىلەن تەمىنلىدى
Comment[uk]=Служба запитів Nepomuk надає інтерфейс для постійних тек запитів
Comment[x-test]=xxThe Nepomuk Query Service provides an interface for persistent query foldersxx
Comment[zh_CN]=Nepomuk 查询服务提供了一种持久化的文件夹查询接口
Comment[zh_TW]=Nepomuk 查詢服務提供持續的查詢資料夾的介面
