[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukqueryservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukQueryService
Name[ca]=NepomukQueryService
Name[de]=Nepomuk-Abfragedienst
Name[es]=NepomukQueryService
Name[nl]=NepomukQueryService
Name[pt]=NepomukQueryService
Name[pt_BR]=Serviço de pesquisas do Nepomuk
Name[sv]=Nepomuk-frågetjänst
Name[uk]=NepomukQueryService
Name[x-test]=xxNepomukQueryServicexx
Comment=The Nepomuk Query Service provides an interface for persistent query folders
Comment[ca]=El servei de consultes del Nepomuk proporciona una interfície per a carpetes persistents de consultes
Comment[de]=Der Nepomuk-Abfragedienst stellt eine Schnittstelle für persistente Abfrage-Ordner bereit.
Comment[nl]=De Nepomuk Query Service biedt een interface voor het persistent doorzoeken van mappen
Comment[pt]=O Serviço de Pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[pt_BR]=O serviço de pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[sv]=Nepomuks frågetjänst tillhandahåller ett gränssnitt för bestående frågekataloger
Comment[uk]=Служба запитів Nepomuk надає інтерфейс для постійних тек запитів
Comment[x-test]=xxThe Nepomuk Query Service provides an interface for persistent query foldersxx
