[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukfilewatch
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukFileWatch
Name[ca]=NepomukFileWatch
Name[cs]=Nepomuk - sledování souborů
Name[de]=NepomukDateiMonitor
Name[es]=NepomukFileWatch
Name[eu]=NepomukFileWatch
Name[nb]=NepomukFileWatch
Name[nds]=Nepomuk-Dateibeluern
Name[nl]=NepomukFileWatch
Name[pt]=NepomukFileWatch
Name[pt_BR]=Inspeção de arquivos do Nepomuk
Name[sv]=Nepomuk-filövervakning
Name[uk]=NepomukFileWatch
Name[x-test]=xxNepomukFileWatchxx
Name[zh_TW]=Nepomuk 檔案監控
Comment=The Nepomuk file watch service for monitoring file changes
Comment[ca]=El servei de control de fitxers del Nepomuk per fer un seguiment dels canvis en fitxers
Comment[cs]=Služba Nepomuku, která sleduje změny v souborech
Comment[de]=Nepomuk-Dateiüberwachung zur Überwachung von Dateiänderungen
Comment[es]=El servicio de vigilancia de archivos para monitorizar cambios en archivos
Comment[eu]=Fitxategien aldaketak zelatatzeko Nepomuken fitxategiak zaintzeko zerbitzua
Comment[nb]=Nepomuk-tjeneste som overvåker filer etter endringer
Comment[nds]=Nepomuk sien Dateibeluurdeenst, de Ännern an Dateien vermeldt
Comment[nl]=NepomukFileWatch volgt uw systeem op bestandswijzigingen
Comment[pt]=O serviço de vigilância de ficheiros para vigiar as alterações dos ficheiros
Comment[pt_BR]=Serviço de inspeção de arquivos do Nepomuk para monitoramento de alterações
Comment[sv]=Nepomuks filövervakningstjänst för att bevaka filändringar
Comment[uk]=Служба Nepomuk для спостереження за змінами в файлах
Comment[x-test]=xxThe Nepomuk file watch service for monitoring file changesxx
Comment[zh_CN]=监视文件更改的 Nepomuk 文件监视服务
Comment[zh_TW]=Nepomuk 檔案監控服務，監視檔案變化
