[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukfilewatch
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukFileWatch
Name[de]=NepomukDateiMonitor
Name[es]=NepomukFileWatch
Name[pt]=NepomukFileWatch
Name[pt_BR]=Inspeção de arquivos do Nepomuk
Name[sv]=Nepomuk-filövervakning
Name[uk]=NepomukFileWatch
Name[x-test]=xxNepomukFileWatchxx
Comment=The Nepomuk file watch service for monitoring file changes
Comment[de]=Nepomuk-Dateiüberwachung zur Überwachung von Dateiänderungen
Comment[pt]=O serviço de vigilância de ficheiros para vigiar as alterações dos ficheiros
Comment[pt_BR]=Serviço de inspeção de arquivos do Nepomuk para monitoramento de alterações
Comment[sv]=Nepomuks filövervakningstjänst för att bevaka filändringar
Comment[uk]=Служба Nepomuk для спостереження за змінами в файлах
Comment[x-test]=xxThe Nepomuk file watch service for monitoring file changesxx
