[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[de]=Nepomuk-Sicherung und Abgleich
Name[es]=Copia de respaldo y sincronización de Nepomuk
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Comment=Nepomuk Service which handles backup and sync.
Comment[de]=Nepomuk-Dienst zum Sichern und Abgleichen.
Comment[es]=Servicio de Nepomuk que trabaja con copias de respaldo y sincronización.
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
