[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[ca]=Còpia de seguretat i sincronització del Nepomuk
Name[de]=Nepomuk-Sicherung und Abgleich
Name[es]=Copia de respaldo y sincronización de Nepomuk
Name[nds]=Nepomuk-Sekerheitkopie un Synkroniseren
Name[nl]=Nepomuk reservekopie-synchronisatie
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[pt_BR]=Cópia de segurança e sincronização do Nepomuk
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Name[zh_TW]=Nepomuk 備份與同步
Comment=Nepomuk Service which handles backup and sync.
Comment[ca]=Servei del Nepomuk que gestiona còpies de seguretat i sincronització.
Comment[de]=Nepomuk-Dienst zum Sichern und Abgleichen.
Comment[es]=Servicio de Nepomuk que trabaja con copias de respaldo y sincronización.
Comment[nds]=Nepomuk-Deenst för Sekerheitkopien un Synkroniseren.
Comment[nl]=Nepomuk service die reservekopie-synchronisatie afhandelt.
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[pt_BR]=Serviço de cópia de segurança e sincronização de dados do Nepomuk.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
Comment[zh_TW]=處理備份與同步的 Nepomuk 服務。
