[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[ca]=Còpia de seguretat i sincronització del Nepomuk
Name[cs]=Zálohování a synchronizace Nepomuku
Name[da]=Nepomuk backup og synkronisering
Name[de]=Nepomuk-Sicherung und Abgleich
Name[es]=Copia de respaldo y sincronización de Nepomuk
Name[et]=Nepomuki varundamine ja sünkroonimine
Name[eu]=Nepomuk babeskopia eta sinkronizatzea
Name[fi]=Nepomuk-varmuuskopio ja -synkronointi
Name[fr]=Sauvegarde et synchronisation de Nepomuk
Name[ga]=Cúltaca agus Sioncrónú Nepomuk
Name[gl]=Copia de seguranza e sincronización de Nepomuk
Name[hu]=Nepomuk mentés és szinkronizálás
Name[ia]=Retrocopia (Backup) e Sync de Nepomuk
Name[it]=Copia di sicurezza e sincronizzazione di Nepomuk
Name[kk]=Nepomuk сақтық көшірмелеу және қадамдастыру
Name[km]=ធ្វើ​សមកាលកម្ម និង​បម្រុង​ទុក Nepomuk
Name[lv]=Nepomuk dublēšana un sinhronizācija
Name[nb]=Nepomuk sikringskopiering og synkronisering
Name[nds]=Nepomuk-Sekerheitkopie un Synkroniseren
Name[nl]=Nepomuk reservekopie-synchronisatie
Name[pa]=ਨਿਪੋਮੁਕ ਬੈਕਅੱਪ ਅਤੇ ਸਿੰਕ
Name[pl]=Kopia zapasowa i synchronizacja Nepomuka
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[pt_BR]=Cópia de segurança e sincronização do Nepomuk
Name[ro]=Copie de siguranță și sincronizare Nepomuk
Name[se]=Nepomuk-liigemáŋgen ja -synkroniseren
Name[sr]=Резерва и синхронизација Непомука
Name[sr@ijekavian]=Резерва и синхронизација Непомука
Name[sr@ijekavianlatin]=Rezerva i sinhronizacija Nepomuka
Name[sr@latin]=Rezerva i sinhronizacija Nepomuka
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[tr]=Nepomuk Yedekleme ve Eşzamanlama
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Name[zh_CN]=Nepomuk 备份和同步
Name[zh_TW]=Nepomuk 備份與同步
Comment=Nepomuk Service which handles backup and sync.
Comment[ca]=Servei del Nepomuk que gestiona còpies de seguretat i sincronització.
Comment[cs]=Služba Nepomuku pro zálohu a synchronizaci.
Comment[da]=Nepomuk-tjeneste som håndterer backup og synkronisering.
Comment[de]=Nepomuk-Dienst zum Sichern und Abgleichen.
Comment[es]=Servicio de Nepomuk que trabaja con copias de respaldo y sincronización.
Comment[et]=Nepomuki varundamise ja sünkroonimisega tegelev teenus
Comment[eu]=Babeskopia eta sinkronizatzea maneiatzen duen Nepomuk zerbitzua.
Comment[fi]=Nepomuk-palvelu, joka käsittelee varmuuskopiota ja synkronointia.
Comment[fr]=Service de Nepomuk qui gère la sauvegarde et la synchronisation
Comment[ga]=Seirbhís Nepomuk a dhéanann cúltaca agus sioncrónú.
Comment[gl]=O servizo de Nepomuk que xestiona as copias de seguranza e a sincronización.
Comment[hu]=Biztonsági mentéseket és szinkronizálást kezelő Nepomuk szolgáltatás.
Comment[ia]=Servicio de Nepomuk que manea retrocopia e sync.
Comment[it]=Servizio di Nepomuk che gestisce le copie di sicurezza e la sincronizzazione.
Comment[kk]=Cақтық көшірмелеу және қадамдастыруды басқаратын Nepomuk қызметі.
Comment[km]=សេវា​របស់ Nepomuk ដែល​​ដោះស្រាយ​ព័ត៌មាន​បម្រុង និង​សមកាលកម្ម ។
Comment[lv]=Nepomuk serviss, kas atbild par dublējumiem un sinhronizāciju
Comment[nb]=Nepomuk-tjeneste som håndterer sikringskopi og synkronisering.
Comment[nds]=Nepomuk-Deenst för Sekerheitkopien un Synkroniseren.
Comment[nl]=Nepomuk service die reservekopie-synchronisatie afhandelt.
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਿਸ, ਜੋ ਕਿ ਬੈਕਅੱਪ ਤੇ ਸਿੰਕ ਨੂੰ ਹੈਂਡਸ ਕਰਦੀ ਹੈ।
Comment[pl]=Usługa Nepomuka, która zajmuje się kopiami zapasowymi i synchronizacją.
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[pt_BR]=Serviço de cópia de segurança e sincronização de dados do Nepomuk.
Comment[ro]=Serviciu Nepomuk care se ocupă de copii de siguranță și sincronizare.
Comment[se]=Nepomuk-bálvalus fállá liigemáŋgen ja synkroniseren.
Comment[sl]=Nepomukova storitev za varnostne kopije in usklajevanje.
Comment[sr]=Сервис Непомука за прављење резерви и синхронизацију.
Comment[sr@ijekavian]=Сервис Непомука за прављење резерви и синхронизацију.
Comment[sr@ijekavianlatin]=Servis Nepomuka za pravljenje rezervi i sinhronizaciju.
Comment[sr@latin]=Servis Nepomuka za pravljenje rezervi i sinhronizaciju.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[tr]=Yedekleme ve eşzamanlama yapan Nepomuk Servisi
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
Comment[zh_CN]=处理备份和同步的 Nepomuk 服务。
Comment[zh_TW]=處理備份與同步的 Nepomuk 服務。
