[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukfileindexer
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=File Indexer Service
Name[ca]=Servei indexador de fitxers
Name[cs]=Služba indexování souborů
Name[de]=Datei-Indexer-Dienst
Name[es]=Servicio de indexación de archivos
Name[eu]=Fitxategi indexatzaile zerbitzua
Name[gl]=Servizo indexador de ficheiros
Name[hu]=Fájlindexelő szolgáltatás
Name[ia]=Servicio de indicisator de File
Name[nb]=Tjeneste for filindeksering
Name[nds]=Dateiindizeren
Name[nl]=Service voor bestandenindexering
Name[pt]=Serviço de Indexação de Ficheiros
Name[pt_BR]=Serviço de indexação de arquivos
Name[sv]=Filindexeringstjänst
Name[uk]=Служба індексування файлів
Name[x-test]=xxFile Indexer Servicexx
Name[zh_CN]=文件索引服务
Name[zh_TW]=檔案索引器服務
Comment=Nepomuk Service which indexes files on the desktop
Comment[ca]=Servei del Nepomuk que indexa fitxers de l'escriptori
Comment[cs]=Služba Nepomuku jež indexuje data v počítači
Comment[de]=Nepomuk-Dienst, der Dateien des Rechners indiziert
Comment[es]=Servicio de Nepomuk que indexa archivos del escritorio
Comment[eu]=Nepomuk zerbitzua mahaigaineko fitxategiak indexatzen dituena
Comment[gl]=O servizo de Nepomuk que indexa os ficheiros do escritorio
Comment[hu]=Az asztali fájlokat indexelő Nepomuk szolgáltatás
Comment[ia]=Servicio de Nepomuk que indicisa le files sur le scriptorio
Comment[nb]=Nepomuk tjeneste som indekserer filene på skrivebordet
Comment[nds]=Nepomuk-Deenst, de Dateien op den Schriefdisch indizeert
Comment[nl]=Nepomuk-service die bestanden op het bureaublad indexeert
Comment[pt]=Um serviço do Nepomuk que indexa os ficheiros no ambiente de trabalho
Comment[pt_BR]=Serviço do Nepomuk para indexação de arquivos no ambiente de trabalho
Comment[sv]=Nepomuk-tjänst som indexerar filer på skrivbordet
Comment[uk]=Служба Nepomuk, яка індексує файли на вашому комп’ютері
Comment[x-test]=xxNepomuk Service which indexes files on the desktopxx
Comment[zh_CN]=索引桌面文件的 Nepomuk 服务
Comment[zh_TW]=建立桌面上檔案的索引的 Nepomuk 服務
