[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukfileindexer
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=File Indexer Service
Name[ca]=Servei indexador de fitxers
Name[de]=Datei-Indexer-Dienst
Name[es]=Servicio de indexación de archivos
Name[nds]=Dateiindizeren
Name[nl]=Service voor bestandenindexering
Name[pt]=Serviço de Indexação de Ficheiros
Name[pt_BR]=Serviço de indexação de arquivos
Name[sv]=Filindexeringstjänst
Name[uk]=Служба індексування файлів
Name[x-test]=xxFile Indexer Servicexx
Name[zh_TW]=檔案索引器服務
Comment=Nepomuk Service which indexes files on the desktop
Comment[ca]=Servei del Nepomuk que indexa fitxers de l'escriptori
Comment[de]=Nepomuk-Dienst, der Dateien indiziert
Comment[es]=Servicio de Nepomuk que indexa archivos del escritorio
Comment[nds]=Nepomuk-Deenst, de Dateien op den Schriefdisch indizeert
Comment[nl]=Nepomuk-service die bestanden op het bureaublad indexeert
Comment[pt]=Um serviço do Nepomuk que indexa os ficheiros no ambiente de trabalho
Comment[pt_BR]=Serviço do Nepomuk para indexação de arquivos no ambiente de trabalho
Comment[sv]=Nepomuk-tjänst som indexerar filer på skrivbordet
Comment[uk]=Служба Nepomuk, яка індексує файли на вашому комп’ютері
Comment[x-test]=xxNepomuk Service which indexes files on the desktopxx
Comment[zh_TW]=建立桌面上檔案的索引的 Nepomuk 服務
