[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukpopplerextractor
Name=Nepomuk Poppler Extractor
Name[el]=Εξαγωγέας Poppler Nepomuk
Name[es]=Extractor Poppler de Nepomuk
Name[nl]=Nepomuk Poppler extraheerder
Name[pl]=Wydobywanie Poppler dla Nepomuk 
Name[pt]=Extracção de Poppler do Nepomuk
Name[pt_BR]=Extrator de Poppler do Nepomuk
Name[sk]=Extraktor Nepomuk Poppler
Name[sv]=Nepomuk Poppler-extrahering
Name[uk]=Видобувач даних Nepomuk на основі Poppler
Name[x-test]=xxNepomuk Poppler Extractorxx
Comment=Nepomuk File extractor for PDF files
Comment[el]=Εξαγωγέας αρχείων Nepomuk για PDF αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos PDF
Comment[nl]=Nepomuk extraheerder uit PDF-bestanden
Comment[pl]=Wydobywanie dla Nepomuk z plików PDF
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros PDF
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos PDF
Comment[sk]=Súborový extraktor Nepomuk pre súbory PDF
Comment[sv]=Nepomuk filextrahering för PDF-filer
Comment[uk]=Видобувач даних Nepomuk для файлів PDF
Comment[x-test]=xxNepomuk File extractor for PDF filesxx
