[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukplaintextextractor
Name=Nepomuk Plain Text Extractor
Name[ca]=Extractor de text del Nepomuk
Name[da]=Nepomuk klartekst-udtrækker
Name[el]=Απλός εξαγωγέας κειμένου Nepomuk
Name[es]=Extractor de texto sin formato de Nepomuk
Name[et]=Nepomuki lihtteksti ekstraktimine
Name[fi]=Nepomukin muotoilemattoman tekstin luku
Name[gl]=Extractor de texto simple do Nepomuk
Name[hu]=Nepomuk egyszerű szöveg kibontó
Name[ia]=Nepomuk Extractor de texto plan
Name[it]=Estrattore di testo semplice di Nepomuk
Name[nl]=Nepomuk extraheerder uit bestanden met platte tekst
Name[pl]=Wydobywanie dla Nepomuk zwykłego tekstu
Name[pt]=Extracção de Texto Simples do Nepomuk
Name[pt_BR]=Extrator de texto simples do Nepomuk
Name[sk]=Extraktor Nepomuk čistého textu
Name[sr]=Непомуков издвајач обичног текста
Name[sr@ijekavian]=Непомуков издвајач обичног текста
Name[sr@ijekavianlatin]=Nepomukov izdvajač običnog teksta
Name[sr@latin]=Nepomukov izdvajač običnog teksta
Name[sv]=Nepomuk extrahering av vanlig text
Name[uk]=Видобувач текстових даних Nepomuk
Name[x-test]=xxNepomuk Plain Text Extractorxx
Name[zh_CN]=Nepomuk 纯文本提取工具
Name[zh_TW]=Nepomuk 純文字檔展開器
Comment=Nepomuk File extractor for text files
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers de text
Comment[da]=Nepomuk filudtrækker til tekstfiler
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία κειμένου
Comment[es]=Extractor de archivos de Nepomuk para archivos de texto
Comment[et]=Nepomuki failiekstraktimine tekstifailidele
Comment[fi]=Nepomukin tekstitiedostojen luku
Comment[gl]=Extractor de ficheiros de texto de Nepomuk
Comment[hu]=Nepomuk fájl kibontó szöveges fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de texto
Comment[it]=Estrattore di file di Nepomuk per file di testo
Comment[nl]=Nepomuk extraheerder uit bestanden met tekst
Comment[pl]=Wydobywanie dla Nepomuk z plików tekstowych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de texto
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de texto
Comment[sk]=Súborový extraktor Nepomuk pre súbory textu
Comment[sr]=Непомуков издвајач за текстуалне фајлове
Comment[sr@ijekavian]=Непомуков издвајач за текстуалне фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za tekstualne fajlove
Comment[sr@latin]=Nepomukov izdvajač za tekstualne fajlove
Comment[sv]=Nepomuk filextrahering för textfiler
Comment[uk]=Видобувач даних Nepomuk для текстових файлів
Comment[x-test]=xxNepomuk File extractor for text filesxx
Comment[zh_CN]=Nepomuk 文本文件提取工具
Comment[zh_TW]=Nepomuk 文字檔展開器
