[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukexiv2extractor
Name=Nepomuk Exiv2 Extractor
Name[sv]=Nepomuk Exiv2-extrahering
Name[uk]=Видобувач даних Nepomuk на основі Exiv2
Name[x-test]=xxNepomuk Exiv2 Extractorxx
Comment=Nepomuk File extractor for Image files
Comment[sv]=Nepomuk filextrahering för bildfiler
Comment[uk]=Видобувач даних Nepomuk для файлів зображень
Comment[x-test]=xxNepomuk File extractor for Image filesxx
