[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukexiv2extractor
Name=Nepomuk Exiv2 Extractor
Name[el]=Εξαγωγέας Exiv2 Nepomuk
Name[nl]=Nepomuk Exiv2 extraheerder
Name[pt]=Extracção de Exiv2 do Nepomuk
Name[pt_BR]=Extrator de Exiv2 do Nepomuk
Name[sv]=Nepomuk Exiv2-extrahering
Name[uk]=Видобувач даних Nepomuk на основі Exiv2
Name[x-test]=xxNepomuk Exiv2 Extractorxx
Comment=Nepomuk File extractor for Image files
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία εικόνων
Comment[nl]=Nepomuk extraheerder uit bestanden voor afbeeldingen
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de imagens
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de imagens
Comment[sv]=Nepomuk filextrahering för bildfiler
Comment[uk]=Видобувач даних Nepomuk для файлів зображень
Comment[x-test]=xxNepomuk File extractor for Image filesxx
