[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukpopplerextractor
Name=Nepomuk Poppler Extractor
Name[ca]=Extractor Poppler del Nepomuk
Name[da]=Nepomuk Poppler-udtrækker
Name[el]=Εξαγωγέας Poppler Nepomuk
Name[es]=Extractor Poppler de Nepomuk
Name[et]=Nepomuki Poppleri ekstraktimine
Name[hu]=Nepomuk Poppler kibontó
Name[ia]=Nepomuk Extractor de Poppler
Name[nl]=Nepomuk Poppler extraheerder
Name[pl]=Wydobywanie Poppler dla Nepomuk 
Name[pt]=Extracção de Poppler do Nepomuk
Name[pt_BR]=Extrator de Poppler do Nepomuk
Name[sk]=Extraktor Nepomuk Poppler
Name[sr]=Непомуков издвајач Поплером
Name[sr@ijekavian]=Непомуков издвајач Поплером
Name[sr@ijekavianlatin]=Nepomukov izdvajač Popplerom
Name[sr@latin]=Nepomukov izdvajač Popplerom
Name[sv]=Nepomuk Poppler-extrahering
Name[uk]=Видобувач даних Nepomuk на основі Poppler
Name[x-test]=xxNepomuk Poppler Extractorxx
Comment=Nepomuk File extractor for PDF files
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers PDF
Comment[da]=Nepomuk filudtrækker til PDF-filer
Comment[el]=Εξαγωγέας αρχείων Nepomuk για PDF αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos PDF
Comment[et]=Nepomuki failiekstraktimine PDF-failidele
Comment[hu]=Nepomuk fájl kibontó PDF fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files PDF
Comment[nl]=Nepomuk extraheerder uit PDF-bestanden
Comment[pl]=Wydobywanie dla Nepomuk z plików PDF
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros PDF
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos PDF
Comment[sk]=Súborový extraktor Nepomuk pre súbory PDF
Comment[sr]=Непомуков издвајач за ПДФ фајлове
Comment[sr@ijekavian]=Непомуков издвајач за ПДФ фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za PDF fajlove
Comment[sr@latin]=Nepomukov izdvajač za PDF fajlove
Comment[sv]=Nepomuk filextrahering för PDF-filer
Comment[uk]=Видобувач даних Nepomuk для файлів PDF
Comment[x-test]=xxNepomuk File extractor for PDF filesxx
