[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukFileExtractor
Comment=Nepomuk File Extractor
Comment[sv]=Nepomuk filextrahering
Comment[uk]=Видобувач даних файлів для Nepomuk
Comment[x-test]=xxNepomuk File Extractorxx
