[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukffmpegextractor
Name=Nepomuk FFmpeg Extractor
Name[sv]=Nepomuk FFmpeg-extrahering
Name[uk]=Видобувач даних Nepomuk на основі FFmpeg
Name[x-test]=xxNepomuk FFmpeg Extractorxx
Comment=Nepomuk File extractor for Video files
Comment[sv]=Nepomuk filextrahering för videofiler
Comment[uk]=Видобувач даних Nepomuk для відеофайлів
Comment[x-test]=xxNepomuk File extractor for Video filesxx
