[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukofficeextractor
Name=Nepomuk Office Extractor
Name[cs]=Extraktor Office pro Nepomuk
Name[de]=Office-Extraktion für Nepomuk
Name[ia]=Nepomuk Extractor  pro Office
Name[nl]=Nepomuk extraheerder uit Office
Name[pt]=Extracção do Office para o Nepomuk
Name[pt_BR]=Extrator de Office do Nepomuk
Name[sk]=Extraktor Nepomuk Office
Name[sv]=Nepomuk Office-extrahering
Name[uk]=Видобувач даних файлів Office для Nepomuk
Name[x-test]=xxNepomuk Office Extractorxx
Comment=Nepomuk File extractor for DOC, XLS and PPT files
Comment[cs]=Extraktor souborů Nepomuku pro soubory DOC, XLS a PPT
Comment[de]=Datei-Extraktion aus DOC, XLS und PPT-Dateien für Nepomuk
Comment[ia]=Extractor de file de Nepomuk pro files DOC, XLS e PPT.
Comment[nl]=Nepomuk extraheerder uit DOC-, XLS- en PPT-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros DOC, XLS e PPT
Comment[pt_BR]=Extrator do Nepomuk para arquivos DOC, XLS e PPT
Comment[sk]=Súborový extraktor Nepomuk pre súbory DOC, XLS a PPT
Comment[sv]=Nepomuk filextrahering för DOC-, XLS- och PPT-filer
Comment[uk]=Видобувач даних Nepomuk для файлів DOC, XLS та PPT
Comment[x-test]=xxNepomuk File extractor for DOC, XLS and PPT filesxx
