[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukoffice2007extractor
Name=Nepomuk Office2007 Extractor
Name[cs]=Extraktor Office 2007 pro Nepomuk
Name[es]=Extractor Office2007 de Nepomuk
Name[ia]=Nepomuk Extractor  pro Office2007
Name[nl]=Nepomuk extraheerder uit Office2007
Name[pt]=Extracção de Ficheiros do Office2007
Name[pt_BR]=Extrator de Office 2007 do Nepomuk
Name[sk]=Extraktor Nepomuk Office2007
Name[uk]=Видобувач даних файлів Office 2007 для Nepomuk
Name[x-test]=xxNepomuk Office2007 Extractorxx
Comment=Nepomuk File extractor for Office2007 files
Comment[cs]=Extraktor souborů Nepomuku pro soubory Office2007
Comment[es]=Extractor de archivos de Nepomuk para archivos de Office2007
Comment[ia]=Extractor de file de Nepomuk pro files de Office2007
Comment[nl]=Nepomuk extraheerder uit bestanden voor Office2007
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros do Office 2007
Comment[pt_BR]=Extrator do Nepomuk para arquivos do Office 2007
Comment[sk]=Súborový extraktor Nepomuk pre súbory Office2007
Comment[uk]=Видобувач даних Nepomuk для файлів Office 2007
Comment[x-test]=xxNepomuk File extractor for Office2007 filesxx
