[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukepubextractor
Name=Nepomuk EPub Extractor
Name[fi]=Nepomukin EPub-luku
Name[ia]=Nepomuk Extractor de EPub
Name[kk]=Nepomuk EPub дерек шығарғышы
Name[nl]=Nepomuk Epub extraheerder
Name[pt]=Extracção de EPub do Nepomuk
Name[pt_BR]=Extrator de EPub do Nepomuk
Name[sv]=Nepomuk EPub-extrahering
Name[uk]=Видобувач даних EPub для Nepomuk
Name[x-test]=xxNepomuk EPub Extractorxx
Name[zh_CN]=Nepomuk EPub 提取工具
Comment=Nepomuk File extractor for EPub Files
Comment[fi]=Nepomukin EPub-tiedostojen luku
Comment[ia]=Extractor de file de Nepomuk pro files ePub
Comment[kk]=EPub файлдардан Nepomuk-қа дерек шығарғышы
Comment[nl]=Nepomuk bestandenextraheerder voor EPub-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros EPub
Comment[pt_BR]=Extrator do Nepomuk para arquivos EPub
Comment[sv]=Nepomuk filextrahering för EPub-filer
Comment[uk]=Видобувач даних Nepomuk для файлів EPub
Comment[x-test]=xxNepomuk File extractor for EPub Filesxx
Comment[zh_CN]=Nepomuk EPub 文件提取工具
