[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukodfextractor
Name=Nepomuk Odf Extractor
Name[cs]=Extraktor ODF pro Nepomuk
Name[es]=Extractor Odf de Nepomuk
Name[ia]=Nepomuk Extractor de Odf
Name[nl]=Nepomuk extraheerder uit odf
Name[pt]=Extracção de ODF do Nepomuk
Name[pt_BR]=Extrator de ODF do Nepomuk
Name[sk]=Extraktor Nepomuk Odf
Name[uk]=Видобувач даних з файлів ODF для Nepomuk
Name[x-test]=xxNepomuk Odf Extractorxx
Comment=Nepomuk File extractor for ODF files
Comment[cs]=Extraktor souborů Nepomuku pro soubory ODF
Comment[es]=Extractor de archivos de Nepomuk para archivos ODF
Comment[ia]=Extractor de file de Nepomuk pro files ODF
Comment[nl]=Nepomuk extraheerder uit ODF-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros ODF
Comment[pt_BR]=Extrator do Nepomuk para arquivos ODF
Comment[sk]=Súborový extraktor Nepomuk pre súbory ODF
Comment[uk]=Видобувач даних Nepomuk для файлів ODF
Comment[x-test]=xxNepomuk File extractor for ODF filesxx
