[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomuktaglibextractor
Name=Nepomuk TagLib Extractor
Name[ca]=Extractor TagLib del Nepomuk
Name[da]=Nepomuk TagLib-udtrækker
Name[el]=Εξαγωγέας TagLib Nepomuk
Name[es]=Extractor TagLib de Nepomuk
Name[et]=Nepomuki TagLibi ekstraktimine
Name[gl]=Extractor de Taglib do Nepomuk
Name[hu]=Nepomuk TagLib kibontó
Name[ia]=Nepomuk Extractor de TagLib
Name[nl]=Nepomuk Taglib extraheerder
Name[pl]=Wydobywanie TagLib dla Nepomuk 
Name[pt]=Extracção da TagLib do Nepomuk
Name[pt_BR]=Extrator de TagLib do Nepomuk
Name[sk]=Extraktor Nepomuk TagLib
Name[sr]=Непомуков издвајач Таглибом
Name[sr@ijekavian]=Непомуков издвајач Таглибом
Name[sr@ijekavianlatin]=Nepomukov izdvajač TagLibom
Name[sr@latin]=Nepomukov izdvajač TagLibom
Name[sv]=Nepomuk TagLib-extrahering
Name[uk]=Видобувач даних Nepomuk на основі TagLib
Name[x-test]=xxNepomuk TagLib Extractorxx
Name[zh_CN]=Nepomuk TagLib 提取工具
Name[zh_TW]=Nepomuk TagLib 檔展開器
Comment=Nepomuk File extractor for Music Files
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers de música
Comment[da]=Nepomuk filudtrækker til musikfiler
Comment[el]=Εξαγωγέας αρχείων Nepomuk για μουσικά αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos de música
Comment[et]=Nepomuki failiekstraktimine muusikafailidele
Comment[gl]=Extractor de ficheiros Music de Nepomuk
Comment[hu]=Nepomuk fájl kibontó zenefájlokhoz
Comment[ia]=Extractor de file de nepomuk pro files de music
Comment[nl]=Nepomuk extraheerder uit muziekbestanden
Comment[pl]=Wydobywanie dla Nepomuk z plików muzycznych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de música
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de música
Comment[sk]=Súborový extraktor Nepomuk pre súbory hudby
Comment[sr]=Непомуков издвајач за музичке фајлове
Comment[sr@ijekavian]=Непомуков издвајач за музичке фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za muzičke fajlove
Comment[sr@latin]=Nepomukov izdvajač za muzičke fajlove
Comment[sv]=Nepomuk filextrahering för musikfiler
Comment[uk]=Видобувач даних Nepomuk для звукових файлів
Comment[x-test]=xxNepomuk File extractor for Music Filesxx
Comment[zh_CN]=Nepomuk 音乐文件提取工具
Comment[zh_TW]=Nepomuk 音樂檔展開器
