[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukFileExtractor
Comment=Nepomuk File Extractor
Comment[ca]=Extractor de fitxers del Nepomuk
Comment[da]=Nepomuk filudtrækker
Comment[el]=Εξαγωγέας αρχείων Nepomuk
Comment[es]=Extractor de archivos de Nepomuk
Comment[et]=Nepomuki failiekstraktimine
Comment[fi]=Nepomukin tiedostojen luku
Comment[gl]=Extractor de ficheiros de Nepomuk
Comment[hu]=Nepomuk fájl kibontó
Comment[ia]=Nepomuk Extractor de file
Comment[it]=Estrattore di file di Nepomuk
Comment[nl]=Nepomuk extraheerder uit bestanden
Comment[pl]=Wydobywanie z plików dla Nepomuk
Comment[pt]=Extracção de Ficheiros do Nepomuk
Comment[pt_BR]=Extrator de arquivos do Nepomuk
Comment[ro]=Extractor de fișiere pentru Nepomuk
Comment[sk]=Extraktor Nepomuk súborov
Comment[sr]=Непомуков издвајач из фајлова
Comment[sr@ijekavian]=Непомуков издвајач из фајлова
Comment[sr@ijekavianlatin]=Nepomukov izdvajač iz fajlova
Comment[sr@latin]=Nepomukov izdvajač iz fajlova
Comment[sv]=Nepomuk filextrahering
Comment[uk]=Видобувач даних файлів для Nepomuk
Comment[x-test]=xxNepomuk File Extractorxx
Comment[zh_CN]=Nepomuk 文件提取工具
Comment[zh_TW]=Nepomuk 檔案展開器
