[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukplaintextextractor
Name=Nepomuk Plain Text Extractor
Name[el]=Απλός εξαγωγέας κειμένου Nepomuk
Name[es]=Extractor de texto sin formato de Nepomuk
Name[et]=Nepomuki lihtteksti ekstraktimine
Name[nl]=Nepomuk extraheerder uit bestanden met platte tekst
Name[pl]=Wydobywanie dla Nepomuk zwykłego tekstu
Name[pt]=Extracção de Texto Simples do Nepomuk
Name[pt_BR]=Extrator de texto simples do Nepomuk
Name[sk]=Extraktor Nepomuk čistého textu
Name[sv]=Nepomuk extrahering av vanlig text
Name[uk]=Видобувач текстових даних Nepomuk
Name[x-test]=xxNepomuk Plain Text Extractorxx
Comment=Nepomuk File extractor for text files
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία κειμένου
Comment[es]=Extractor de archivos de Nepomuk para archivos de texto
Comment[et]=Nepomuki failiekstraktimine tekstifailidele
Comment[nl]=Nepomuk extraheerder uit bestanden met tekst
Comment[pl]=Wydobywanie dla Nepomuk z plików tekstowych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de texto
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de texto
Comment[sk]=Súborový extraktor Nepomuk pre súbory textu
Comment[sv]=Nepomuk filextrahering för textfiler
Comment[uk]=Видобувач даних Nepomuk для текстових файлів
Comment[x-test]=xxNepomuk File extractor for text filesxx
