[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukepubextractor
Name=Nepomuk EPub Extractor
Name[pt]=Extracção de EPub do Nepomuk
Name[pt_BR]=Extrator de EPub do Nepomuk
Name[uk]=Видобувач даних EPub для Nepomuk
Name[x-test]=xxNepomuk EPub Extractorxx
Comment=Nepomuk File extractor for EPub Files
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros EPub
Comment[pt_BR]=Extrator do Nepomuk para arquivos EPub
Comment[uk]=Видобувач даних Nepomuk для файлів EPub
Comment[x-test]=xxNepomuk File extractor for EPub Filesxx
