[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomuktaglibextractor
Name=Nepomuk TagLib Extractor
Name[el]=Εξαγωγέας TagLib Nepomuk
Name[es]=Extractor TagLib de Nepomuk
Name[et]=Nepomuki TagLibi ekstraktimine
Name[nl]=Nepomuk Taglib extraheerder
Name[pl]=Wydobywanie TagLib dla Nepomuk 
Name[pt]=Extracção da TagLib do Nepomuk
Name[pt_BR]=Extrator de TagLib do Nepomuk
Name[sk]=Extraktor Nepomuk TagLib
Name[sv]=Nepomuk TagLib-extrahering
Name[uk]=Видобувач даних Nepomuk на основі TagLib
Name[x-test]=xxNepomuk TagLib Extractorxx
Comment=Nepomuk File extractor for Music Files
Comment[el]=Εξαγωγέας αρχείων Nepomuk για μουσικά αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos de música
Comment[et]=Nepomuki failiekstraktimine muusikafailidele
Comment[nl]=Nepomuk extraheerder uit muziekbestanden
Comment[pl]=Wydobywanie dla Nepomuk z plików muzycznych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de música
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de música
Comment[sk]=Súborový extraktor Nepomuk pre súbory hudby
Comment[sv]=Nepomuk filextrahering för musikfiler
Comment[uk]=Видобувач даних Nepomuk для звукових файлів
Comment[x-test]=xxNepomuk File extractor for Music Filesxx
