[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukffmpegextractor
Name=Nepomuk FFmpeg Extractor
Name[el]=Εξαγωγέας FFmpeg Nepomuk
Name[es]=Extractor FFmpeg de Nepomuk
Name[et]=Nepomuki FFmpegi ekstraktimine
Name[nl]=Nepomuk FFmpeg extraheerder
Name[pl]=Wydobywanie FFmpeg dla Nepomuk 
Name[pt]=Extracção do FFmpeg do Nepomuk
Name[pt_BR]=Extrator de FFmpeg do Nepomuk
Name[sk]=Extraktor Nepomuk FFmpeg
Name[sv]=Nepomuk FFmpeg-extrahering
Name[uk]=Видобувач даних Nepomuk на основі FFmpeg
Name[x-test]=xxNepomuk FFmpeg Extractorxx
Comment=Nepomuk File extractor for Video files
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία βίντεο
Comment[es]=Extractor de archivos de Nepomuk para archivos de vídeo
Comment[et]=Nepomuki failiekstraktimine videofailidele
Comment[nl]=Nepomuk extraheerder uit bestanden voor video
Comment[pl]=Wydobywanie dla Nepomuk z plików filmów
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de vídeo
Comment[pt_BR]=Extrator de arquivos do Nepomuk para arquivos de vídeo
Comment[sk]=Súborový extraktor Nepomuk pre súbory videa
Comment[sv]=Nepomuk filextrahering för videofiler
Comment[uk]=Видобувач даних Nepomuk для відеофайлів
Comment[x-test]=xxNepomuk File extractor for Video filesxx
