[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomuktaglibextractor
Name=Nepomuk TagLib Extractor
Comment=Nepomuk File extractor for Music Files
