[Desktop Entry]
Name=nepomukbaloomigrator
Name[ca]=nepomukbaloomigrator
Name[cs]=nepomukbaloomigrator
Name[de]=nepomukbaloomigrator
Name[es]=nepomukbaloomigrator
Name[fi]=nepomukbaloomigrator
Name[hu]=nepomukbaloomigrator
Name[it]=MigratoreNepomukBaloo
Name[nds]=Nepomuk-Baloo-Ümwannelhölper
Name[nl]=nepomuk-baloo-migrator
Name[pt]=nepomukbaloomigrator
Name[pt_BR]=nepomukbaloomigrator
Name[sk]=nepomukbaloomigrator
Name[sl]=nepomukbaloomigrator
Name[sv]=Nepomuk Baloo-överföring
Name[tr]=nepomukbaloomigrator
Name[uk]=nepomukbaloomigrator
Name[x-test]=xxnepomukbaloomigratorxx
Name[zh_TW]=nepomukbaloomigrator
Exec=nepomukbaloomigrator
Type=Application
Comment=Tool to migrate the old Nepomuk based data to Baloo.
Comment[ca]=Eina per migrar les dades antigues basades en el Nepomuk al Baloo.
Comment[de]=Dienstprogramm zum Migrieren alter Nepomuk-basierter Daten zu Baloo.
Comment[es]=Herramienta para migrar los datos antiguos basados en Nepomuk a Baloo.
Comment[fi]=Työkalu vanhojen Nepomuk-pohjaisten tietojen siirtämiseen Baloohon.
Comment[hu]=Eszköz a régi Nepomuk alapú adatok költöztetéséhez a Baloo programba.
Comment[it]=Strumento per migrare i vecchi dati di Nepomuk a Baloo.
Comment[nds]=Programm för't Överföhren vun de olen, op Nepomuk opbuut Daten na Baloo
Comment[nl]=Hulpmiddel om oude op Nepomuk gebaseerde gegevens naar Baloo te migreren.
Comment[pt]=Ferramenta para migrar os dados antigos do Nepomuk para o Baloo.
Comment[pt_BR]=Ferramenta para migrar os dados antigos do Nepomuk para o Baloo.
Comment[sk]=Nástroj na migráciu starých údajov Nepomuk do Baloo.
Comment[sl]=Orodje za selitev starih podatkov za Nepomuk v Baloo.
Comment[sv]=Verktyg för att överföra gammal Nepomuk-baserad data till Baloo.
Comment[tr]=Eski Nepomuk tabanlı veriyi Baloo'ya aktarmak için araç.
Comment[uk]=Засіб для перенесення даних Nepomuk до сховища даних Baloo.
Comment[x-test]=xxTool to migrate the old Nepomuk based data to Baloo.xx
Comment[zh_TW]=將舊式基於 Nepomuk 的資料移植到 Baloo 上。
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=nepomukserverrc:Baloo:migrated=false
OnlyShowIn=KDE;
