[Desktop Entry]
Name=nepomukbaloomigrator
Name[ca]=nepomukbaloomigrator
Name[ca@valencia]=nepomukbaloomigrator
Name[cs]=nepomukbaloomigrator
Name[da]=nepomukbaloomigrator
Name[de]=nepomukbaloomigrator
Name[el]=nepomukbaloomigrator
Name[en_GB]=nepomukbaloomigrator
Name[es]=nepomukbaloomigrator
Name[et]=nepomukbaloomigrator
Name[fi]=nepomukbaloomigrator
Name[fr]=nepomukbaloomigrator
Name[gl]=nepomukbaloomigrator
Name[hu]=nepomukbaloomigrator
Name[ia]=nepomukbaloomigrator
Name[it]=MigratoreNepomukBaloo
Name[ko]=nepomukbaloomigrator
Name[nb]=nepomukbaloomigrator
Name[nds]=Nepomuk-Baloo-Ümwannelhölper
Name[nl]=nepomuk-baloo-migrator
Name[pa]=nepomukbaloomigrator
Name[pl]=nepomukbaloomigrator
Name[pt]=nepomukbaloomigrator
Name[pt_BR]=nepomukbaloomigrator
Name[ru]=Инструмент миграции данных Nepomuk в Baloo
Name[sk]=nepomukbaloomigrator
Name[sl]=nepomukbaloomigrator
Name[sr]=nepomukbaloomigrator
Name[sr@ijekavian]=nepomukbaloomigrator
Name[sr@ijekavianlatin]=nepomukbaloomigrator
Name[sr@latin]=nepomukbaloomigrator
Name[sv]=Nepomuk Baloo-överföring
Name[tr]=nepomukbaloomigrator
Name[uk]=nepomukbaloomigrator
Name[x-test]=xxnepomukbaloomigratorxx
Name[zh_CN]=nepomukbaloomigrator
Name[zh_TW]=nepomukbaloomigrator
Exec=nepomukbaloomigrator
Type=Application
Comment=Tool to migrate the old Nepomuk based data to Baloo.
Comment[ca]=Eina per migrar les dades antigues basades en el Nepomuk al Baloo.
Comment[ca@valencia]=Eina per migrar les dades antigues basades en el Nepomuk al Baloo.
Comment[da]=Værktøj til at migrere de gamle Nepomuk-baserede data til Baloo.
Comment[de]=Dienstprogramm zum Migrieren alter Nepomuk-basierter Daten zu Baloo.
Comment[el]=Εργαλείο μεταφοράς των παλιών, βασισμένων στο Nepomuk δεδομένων στο Baloo.
Comment[en_GB]=Tool to migrate the old Nepomuk based data to Baloo.
Comment[es]=Herramienta para migrar los datos antiguos basados en Nepomuk a Baloo.
Comment[et]=Tööriist vanade Nepomuki andmete migreerimiseks Baloosse.
Comment[fi]=Työkalu vanhojen Nepomuk-pohjaisten tietojen siirtämiseen Baloohon.
Comment[fr]=Outil de migration des anciennes données Nepomuk vers Baloo.
Comment[gl]=Unha utilidade para migrar a Baloo os datos antigos baseados en Nepomuk.
Comment[hu]=Eszköz a régi Nepomuk alapú adatok költöztetéséhez a Baloo programba.
Comment[ia]=Instrumento pro migrar le vetere datos basate sur Nepomuk a Baloo.
Comment[it]=Strumento per migrare i vecchi dati di Nepomuk a Baloo.
Comment[ko]=Nepomuk 기반 데이터를 Baloo로 이전하는 도구입니다.
Comment[nb]=Verktøy for å migrere gamle Nepomuk-baserte data til Baloo
Comment[nds]=Programm för't Överföhren vun de olen, op Nepomuk opbuut Daten na Baloo
Comment[nl]=Hulpmiddel om oude op Nepomuk gebaseerde gegevens naar Baloo te migreren.
Comment[pl]=Narzędzie do przeniesienia danych opartych na Nepomuku do Baloo.
Comment[pt]=Ferramenta para migrar os dados antigos do Nepomuk para o Baloo.
Comment[pt_BR]=Ferramenta para migrar os dados antigos do Nepomuk para o Baloo.
Comment[ru]=Инструмент для миграции старых данных из службы семантических связей Nepomuk в службу Baloo.
Comment[sk]=Nástroj na migráciu starých údajov Nepomuk do Baloo.
Comment[sl]=Orodje za selitev starih podatkov za Nepomuk v Baloo.
Comment[sr]=Алатка за селидбу старих Непомукових података у Балу.
Comment[sr@ijekavian]=Алатка за селидбу старих Непомукових података у Балу.
Comment[sr@ijekavianlatin]=Alatka za selidbu starih Nepomukovih podataka u Baloo.
Comment[sr@latin]=Alatka za selidbu starih Nepomukovih podataka u Baloo.
Comment[sv]=Verktyg för att överföra gammal Nepomuk-baserad data till Baloo.
Comment[tr]=Eski Nepomuk tabanlı veriyi Baloo'ya aktarmak için araç.
Comment[uk]=Засіб для перенесення даних Nepomuk до сховища даних Baloo.
Comment[x-test]=xxTool to migrate the old Nepomuk based data to Baloo.xx
Comment[zh_CN]=用于将老的 Nepomuk 数据迁移到 Baloo 的工具。
Comment[zh_TW]=將舊式基於 Nepomuk 的資料移植到 Baloo 上。
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=nepomukserverrc:Baloo:migrated=false
OnlyShowIn=KDE;
