[Desktop Entry]
Name=Nepomuk Backup
Name[ca]=Còpia de seguretat del Nepomuk
Name[de]=Nepomuk-Sicherung
Name[es]=Copia de respaldo de Nepomuk
Name[nl]=Nepomuk reservekopie maken
Name[pt]=Salvaguarda do Nepomuk
Name[pt_BR]=Cópia de segurança do Nepomuk
Name[sv]=Nepomuk säkerhetskopiering
Name[uk]=Резервні копії даних Nepomuk
Name[x-test]=xxNepomuk Backupxx
Exec=nepomukbackup
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Archiving;
