[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukService2
Comment=Nepomuk Service Version 2
Comment[cs]=Služba Nepomuk Verze 2
Comment[de]=Nepomuk-Dienst Version 2
Comment[el]=Υπηρεσία Nepomuk έκδοση 2
Comment[es]=Servicio Nepomuk versión 2
Comment[mr]=नेपोमुक सेवा आवृत्ती २
Comment[nl]=Nepomuk-service versie 2
Comment[pt]=Serviço do Nepomuk Versão 2
Comment[pt_BR]=Serviço do Nepomuk versão 2
Comment[sk]=Služba Nepomuk verzia 2
Comment[sr]=Непомуков сервис, верзија 2
Comment[sr@ijekavian]=Непомуков сервис, верзија 2
Comment[sr@ijekavianlatin]=Nepomukov servis, verzija 2
Comment[sr@latin]=Nepomukov servis, verzija 2
Comment[sv]=Nepomuk-tjänst version 2
Comment[uk]=Служба Nepomuk версії 2
Comment[x-test]=xxNepomuk Service Version 2xx
[PropertyDef::X-KDE-Nepomuk-autostart]
Type=bool
[PropertyDef::X-KDE-Nepomuk-start-on-demand]
Type=bool
[PropertyDef::X-KDE-Nepomuk-run-once]
Type=bool
