[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukmobiextractor
Name=Nepomuk Mobi Extractor
Name[pt]=Extracção de Mobi do Nepomuk
Name[pt_BR]=Extrator de Mobi do Nepomuk
Name[uk]=Видобувач даних файлів mobi для Nepomuk
Name[x-test]=xxNepomuk Mobi Extractorxx
Comment=Nepomuk File extractor for MobiPocket Files
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros do MobiPocket
Comment[pt_BR]=Extrator do Nepomuk para arquivos MobiPocket
Comment[uk]=Видобувач даних Nepomuk для файлів MobiPocket
Comment[x-test]=xxNepomuk File extractor for MobiPocket Filesxx
