[Desktop Entry]
Name=Nepomuk Cleaner
Name[ca]=Netejador del Nepomuk
Name[cs]=Pročišťovač Nepomuku
Name[da]=Nepomuk-oprydning
Name[el]=Nepomuk Cleaner
Name[es]=Limpiador de Nepomuk
Name[et]=Nepomuki puhastaja
Name[fi]=Nepomukin puhdistus
Name[gl]=Limpador de Nepomuk
Name[hu]=Nepomuk tisztító
Name[ia]=Nettator de Nepomuk
Name[it]=Pulitore di Nepomuk
Name[kk]=Nepomuk тазалығышы
Name[km]=កម្មវិធី​សម្អាត Nepomuk
Name[lt]=Nepomuk valytojas
Name[nb]=Nepomuk-renser
Name[nl]=Opschonen van Nepomuk
Name[pa]=ਨਿਪੋਮੁਕ ਕਲੀਨਰ
Name[pl]=Czyściciel Nepomuk
Name[pt]=Limpeza do Nepomuk
Name[pt_BR]=Limpeza do Nepomuk
Name[ro]=Curățător Nepomuk
Name[sk]=Čistič Nepomuk
Name[sr]=Непомуков чистач
Name[sr@ijekavian]=Непомуков чистач
Name[sr@ijekavianlatin]=Nepomukov čistač
Name[sr@latin]=Nepomukov čistač
Name[sv]=Nepomuk-rensare
Name[uk]=Чистильник Nepomuk
Name[x-test]=xxNepomuk Cleanerxx
Name[zh_CN]=Nepomuk 清理工具
Name[zh_TW]=Nepomuk 清除器
Exec=nepomukcleaner
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Utility;
