[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukCleaningJob
Comment=Nepomuk Cleaning Job
Comment[de]=Bereinigung der Nepomuk-Daten
Comment[es]=Trabajo de limpieza de Nepomuk
Comment[fi]=Nepomukin puhdistustyö
Comment[nl]=Taak voor opschonen van Nepomuk
Comment[pt]=Tarefa de Limpeza do Nepomuk
Comment[pt_BR]=Tarefa de limpeza do Nepomuk
Comment[ro]=Lucrare de curățare Nepomuk
Comment[sk]=Úloha čistenia Nepomuk
Comment[sr]=Непомуков посао чишћења
Comment[sr@ijekavian]=Непомуков посао чишћења
Comment[sr@ijekavianlatin]=Nepomukov posao čišćenja
Comment[sr@latin]=Nepomukov posao čišćenja
Comment[sv]=Nepomuk-rensningsjobb
Comment[uk]=Завдання з чищення сховища Nepomuk
Comment[x-test]=xxNepomuk Cleaning Jobxx
